body{
    background-color: rgb(255, 228, 154);
}
h1{
    color: black;
}
.header{
    background-color:rgb(255, 79, 79);
    display: flex;
    justify-content: space-between;
}
p,h2{
    text-align: center;
}
a:link{
    color:black;
}
a:visited{
    color: rgb(255, 228, 154);
}